<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <!-- CSS local -->
    <link rel="stylesheet" href="/css/style.css">
    <title>Terço Mariano</title>
</head>

<body>
    <img class="star" src="/img/star vert.png" alt="">
    <header>
        <h1>
            <%= tituloPage %>
        </h1>
    </header>

    <main>
        <!-- Swiper títulos dos mistérios -->
        <section class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" id="slide-0">Gloriosos</div>
                <div class="swiper-slide" id="slide-1">Dolorosos</div>
                <div class="swiper-slide" id="slide-2">Gozosos</div>
                <div class="swiper-slide" id="slide-3">Luminosos</div>
            </div>
            <div class="swiper-button-next" id="next"></div>
            <div class="swiper-button-prev" id="prev"></div>
        </section>
        <!-- Swiper títulos dos mistérios-->

        <!-- Swiper conteúdo dos mistérios-->


        <section class="swiper-2">
            <div class="swiper-wrapper">

                    
                <% for(let misterio of misterios) { %>   

                    <div class="swiper-slide swiper-slide--column">
                        <article class="card">
                            <img src="<%= misterio.thumb %> " alt="" width="55px" height="55px">
                            <div class="card__items">
                                <h3>
                                    <%= misterio.id %> mistério 
                                </h3>
                                <p>
                                    <%= misterio.titulo %>
                                </p>
                            </div>
                        </article>

                        <article class="content-misterios">
                            <img src="<%= misterio.imagem %>" alt="" width="300px" height="332px">
                            <spam class="bg-texto"></spam>
                            <p class="content-misterios--texto">
                                <%= misterio.texto %>
                            </p>
                        </article>
                    </div>
                    <% }; %>
                        <!-- <div class="swiper-slide swiper-slide--column">
                    <article class="card">
                        <img src="/img/thumb-glo-1mt-ressurreicao.png" alt="" width="55px" height="55px">
                        <div class="card__items">
                            <h3>2º Mistério</h3>
                            <p>ascenção de jesus</p>
                        </div>
                    </article>

                    <article class="content-misterios">
                        <img src="/img/glo-2mt-ascensao.png" alt="" width="300px">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi omnis accusantium distinctio
                            natus
                            consequuntur, fuga illum laboriosam. Itaque molestiae quod porro eveniet rem dolorem dicta
                            illum
                            non?
                            Laudantium, velit dolor?</p>
                    </article>
                </div> -->
            </div>

            <!-- Swiper paginação-->
            <div class="swiper-pagination"></div>
        </section>
    </main>

    <footer></footer>


    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="/js/swiper.js"></script>



</body>

</html>